:root{
    --background:#102B3F;
    --text:#C0E8F9;
    --border:#7D6B91;
}

input{
    background: transparent;
    border: none;
    border-bottom: 5px solid var(--border);
    border-radius: 5px;
    margin: 10px;
    color: var(--text);
    padding-top: 5px;
}

#search-button{
    font-size: 15px;
    font-weight: bold;
}